.categories-container {
  margin: 5px auto;
  width: 80%;
}

.categories-container div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categories-container button {
  background-color: rgb(26, 25, 25);
  border-radius: 30px;
  color: white;
  font-weight: 600;
  margin: 5px;
  max-width: 250px;
  min-width: 250px;
  padding: 10px 5px;
  text-transform: uppercase;
}

.categories-container button:hover {
  cursor: pointer;
  opacity: 0.7;
}
